{% extends 'base.html.twig'%}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
	<div class="BG_home">
		<div class="cover">
			<br/><br/><br/><br/><br/>
			<h1 class="text-center mb-5">Michaël Agency</h1>

			<p class="text-center">Notre agence vous accompagne dans tous vos projets immobiliers</p>

			{# Dans symfony on a accés à une variable globale app#}
			{# dump(app) #}

			{# pour récupérer la route actuelle #}
				<p class="text-center"> Vous êtes ici sur la
				{{ app.request.get('_route') }}
				;)</p>
		</div>

		<div class="Last3 p-4">
			<h3>Voici nos 3 dernières annonces
			</h3>
			<div class="row Last3Card">

				{% for property in last3ID %}
					<div class="col-lg-4 p-2">
						<div class=" card">
							<img class=" AllCardImage" src="{{ asset('img/uploads/' ~ property.image) }}" alt="{{ property.title }}">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{ path('real_estate_show', {slug: property.slug, id: property.id}) }}">
										{{  property.title }}
									</a>
								</h5>
								<p class="card-text">{{ property.surface}}m² -
									{{ property.rooms }}
									pièces</p>
								<p class="card-text property-price">{{ property.price}}
									€</p>

								{% if app.user == property.owner %}
									<a class="btn btn-primary" href="{{ path('real_estate_edit', {id: property.id}) }}">Modifier</a>
									<a class="btn btn-danger" href="{{ path('real_estate_delete', {id: property.id}) }}">Supprimer</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}
