<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Michael Agency
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link
			rel="stylesheet" href="{{ asset('css/style.css') }}">
		{# asset = cherche directement dans public #}
		{% endblock %}
	</head>
	<body>
		<!-- On peut créer le header ici-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="{{ path('homepage') }}">
					<img class="logo" src="{{ asset('img/logo/LogoHouseRed.png') }}" alt="">
					Michaël Agency</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="menu">
					<ul
						class="navbar-nav mr-auto">

						{# Si la route actuelle vaut homepage, on ajoute active comme class avec twig #}
						<li class="nav-item {{ app.request.get('_route') == 'homepage' ? 'active' }}">
							<a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
						</li>
						<li class="nav-item {{ app.request.get('_route') == 'real_estate_list' ? 'active' }}">
							<a class="nav-link" href="{{ path('real_estate_list') }}">Annonces</a>
						</li>

						{# ou cette syntaxe pour l'active #}
						{# <li class="nav-item {% if app.request.get('_route') == 'hello' %}active{% endif %}">
						                        <a class="nav-link" href="{{ path('hello') }}">Hello</a>
						                    </li> #}
					</ul>

					<form method="get" class="div-search">
						<input id="search" type="text" class="form-control form-control-not-radius" placeholder="Rechercher un bien...">
						<img class="logoSearch" src="{{ asset('img/logo/LogoSearch.png') }}" alt="">
					</form>

					<ul class="navbar-nav ml-auto">
						{% if app.user %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
									{{ app.user.username }}
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ path('my_real_estate') }}">Mes annonces</a>
									<!-- permet de vérifier si l'utilisateur a bien le role d'admin  -->
									{% if is_granted ('ROLE_ADMIN') %}
										<a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
									{% endif %}
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
								</div>
							</li>

						{% else %}
							<li class="nav-item {{ app.request.get('_route') == 'app_register' ? 'active'}}">
								<a class="nav-link" href="{{ path('app_register') }}">
									Inscription</a>
							</li>
							<li class="nav-item {{ app.request.get('_route') == 'app_login' ? 'active'}}">
								<a class="nav-link" href="{{ path('app_login') }}">
									Connexion</a>
							</li>
						{%endif %}

						{# <li class="nav-item active">
						                        <a class="btn" href="{{ path('cart_index') }}">Panier ({{ cart.count }})</a>
						                    </li> #}
					</ul>
				</div>
			</div>
		</nav>


		<div class="bg-body">
			<div class="container ">


				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }} mt-4">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}


				{% block body %}{% endblock %}
			</div>
		</div>


		<!-- On peut créer le footer ici-->
		<footer class="bg-light">
			<div class="container">
				<p class="text-center mb-0">Copyright &copy; 2021</p>
			</div>
		</footer>


		{% block javascripts %}
			<script src="{{ asset('js/jquery.min.js') }}"></script>
			<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('js/script.js') }}"></script>
		{% endblock %}

	</body>
</html>
